<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}¿Olvidaste tu contraseña?{% endblock %}

{% block content %}
<section class="min-vh-100" style="background: linear-gradient(to bottom, #4E98B8, #84BAC9, #ABCFD1, #BDDAE6);">
  <div class="container pt-5">
    <div class="card mx-auto" style="min-width: 500px; max-width: 900px;">
      <div class="card-body">
        <h2 class="card-title">¿Olvidaste tu contraseña?</h2>
          <p>Ingrese su dirección de correo electrónico a continuación y 
            le enviaremos instrucciones por correo electrónico para configurar una nueva.</p>
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label class="form-label" for="id_email">Email:</label>
                  {{ form.email|add_class:"form-control form-control-lg" }}
                </div>
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                </div>
              </form>
      </div>
    </div>
  </div>
</section>  
{% endblock %}
