<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Restablecimiento de contraseña completo{% endblock %}

{% block content %}
<section class="min-vh-100" style="background: linear-gradient(to bottom, #4E98B8, #84BAC9, #ABCFD1, #BDDAE6);">
    <div class="container pt-5">
      <div class="card mx-auto" style="min-width: 500px; max-width: 900px;">
        <div class="card-body">
          <h2 class="card-title">Restablecimiento de contraseña completo</h2>
            <p>Se ha establecido su nueva contraseña. Puede iniciar sesión ahora en la <a href="{% url 'login' %}">página de inicio de sesión</a>.</p>
        </div>
      </div>
    </div>
</section>  
{% endblock %}